<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Planner</title>
        <link href="" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
          <label class="title">
            <h1>Travel Planner by MP</h1>
          </label>
          <ul>
            <li><a class="current" href="index.html">Home</a></li>
            <li><a href="#result">Your trip</a></li>
          </ul>
        </header>
        <main>
          <section class = container>
            <section class="main" >
              <h2>Start your trip:</h2>
              <div class = "form">
                <div class = "place">
                  <label for="place"> Your next journey to:</label>
                  <input id="place" type="text" name="input" value=""  placeholder="Eg. London, Madrid, New York" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter destination city here'"  >
                </div>
                <div class = "departure">
                  <label for="departure">Departure </label>
                  <input id="departure"  type="date"  name="start"  placeholder="dd/mm/yyyy" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter departure date here'"  required>
                </div>
                <div class = "return"> 
                  <label for="return">Return Date </label>
                  <input id="return"  type="date"  name="end"  placeholder="dd/mm/yyyy" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter return date here'"  required >
                </div>
                <button id="generate" class="btn" type = "submit"> Submit </button><br>
                </div>
            </section>
            <!-- Trip Summary section  -->
            <section class="result">
              <h3>Destination details:</h3>
              <div class = result-form>
                <p id="tripTo"></p>
                <p id="countdown" ></p>
                <p id="weather"></p>
                <img id="pic" src="" alt="">
              </div>
            </section>
          </section>
        </main>
        <footer>
            <p>Made by Mate Papp, 2021</p>
        </footer>
        <!--<script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }-->
        </script>
        <script type="text/javascript" src="./dist/main.js"></script>
    </body>
</html>
