<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Planner</title>
        <link href="" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
          <div class="title">
            <h1>Travel Planner by MP</h1>
          </div>
        </header>
        <main>
          <section class = container>
            <section class="main" >
              <h1>Start your trip:</h1>
              <div class = "form">
                <div class = "city">
                  <label for="city"> Your Destination</label>
                  <input id="city" type="text" name="input" value=""  placeholder="example:Tokyo" required>
                </div>
                <div class = "startDate">
                  <label for="startDate">Start Date </label>
                  <input id="startDate"  type="date"  name="start" required>
                </div>
                <div class = "returnDate"> 
                  <label for="returnDate">Return Date </label>
                  <input id="returnDate"  type="date"  name="end"  required >
                </div>
                <input id="submittrip" value="Go" type="submit">
                </div>
            </section>
            <!-- Trip Summary section  -->
            <section class="result">
              <h3>Destination details:</h3>
              <div class = result-form>
                <p id="destination"></p>
                <p id="duration" ></p>
                <p id="countdown" ></p>
                <p id="weather"></p>
                <img id="picture" src="" alt="">
              </div>
            </section>
          </section>
        </main>
        <footer>
            <p>Made by Mate Papp, 2021</p>
        </footer>
        <!--<script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }-->
        </script>
        <script type="text/javascript" src="./dist/main.js"></script>
    </body>
</html>
